<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312140916088-mvmjtvfkhl6r5rqb22rne2fcamqurluu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312140916088-mvmjtvfkhl6r5rqb22rne2fcamqurluu</string>
	<key>API_KEY</key>
	<string>AIzaSyBZA4OEqHLp0DZEwbOk5uOS_h01R-ijIoM</string>
	<key>GCM_SENDER_ID</key>
	<string>312140916088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.lmlab.m-tsunami</string>
	<key>PROJECT_ID</key>
	<string>m-tsunami-2d483</string>
	<key>STORAGE_BUCKET</key>
	<string>m-tsunami-2d483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312140916088:ios:096876c4aedec49f43548d</string>
	<key>DATABASE_URL</key>
	<string>https://m-tsunami-2d483.firebaseio.com</string>
</dict>
</plist>